body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 800px;
}

.quadrado {
    background: darkcyan; 
    height: 150px; 
    width: 150px;
}